@import "src/styles/variables";

.closeIcon {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 1.25px solid $filter-icon;
  border-radius: 50%;
}
.titleDivider {
  &:global(.ant-divider-horizontal) {
    position: absolute;
    left: 0;
  }
}

.modalFooter {
  min-height: 7.6rem;
  border-radius: 1.6rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1.6rem 3.2rem;

  .okButton {
    background-color: $ashgro-navy;
    color: $ashgro-white;
    border-radius: 3.6rem;
    padding: 1.2rem 1.6rem;
    width: 14.4rem;
    height: 4.4rem;

    &:hover {
      background-color: $ashgro-navy !important;
      color: $ashgro-white !important;
    }
  }
}
