@import "src/styles/variables";
@import "src/styles/helpers";

.forgotPasswordContainer {
  background-image: url("src/assets/images/Login.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  gap: 0;

  @include flex-container(center, center, column);

  .loginLogo {
    margin-top: 4rem;
  }
}

.container {
  width: 48rem;
  min-height: 30rem;
  background-color: $ashgro-white;
  margin: 4rem auto auto;
  padding: 3.6rem 4rem 3.2rem;

  @include flex-container(center, normal, column);

  .title {
    font-weight: 300;
    font-size: 3.2rem;
    color: $ashgro-navy;
    font-family: $font-primary;
  }
}

.form {
  margin-top: 2rem;
  @include flex-container(center, normal, column);
  gap: 2rem;
  flex: 1;

  .formFields {
    display: flex;
    gap: 1.6rem;
    flex-flow: column nowrap;
  }
}
.footer {
  @include flex-container(space-between, normal, column);
  margin-top: 4rem;
}

.submitButton {
  margin-top: auto;
  @include flex-container(center, center);
  height: 5.4rem;
  width: 100%;
  font-family: $font-secondary;
  font-size: 1.6rem;
  font-weight: 600;
}
