@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.card {
  margin-top: 2rem;
  padding: 1.4rem;
  gap: 2rem;
  height: 100%;
  overflow: hidden;
}

.editButton {
  @include actionButton;
}

.deleteButton {
  @include actionButton;
}

.detailsContainer {
  margin-top: 2.4rem;
  @include flex-container(center, center, center);
  flex-direction: column;

  .profileContainer {
    @include flex-container(center, center, center);
    flex-direction: column;
    width: 45rem;

    .profileName {
      margin-top: 3.2rem;
      font-size: 3.2rem;
      @include text-ellipsis;
      max-width: 40rem;
    }

    .staffDepartment {
      font-size: 2rem;
      color: $ashgro-gold;
      margin-top: 1rem;
      @include text-ellipsis;
      max-width: 40rem;
    }
  }

  .location {
    margin-top: 2rem;
    @include flex-container(center, center);
    justify-content: start;
    font-size: 2.1rem;
    font-weight: 400;
    gap: 1rem;
  }

  .contactDetailsContainer {
    margin-top: 2rem;
    @include flex-container;
    gap: 1rem;

    .contactDetails {
      @include flex-container(center, center);
      gap: 1rem;
      font-size: 1.6rem;
    }

    .email {
      color: $ashgro-blue;
    }

    .removeMargin {
      margin-top: 0 !important;
    }
  }
}

.footer {
  min-width: 63.4rem;

  .foterHeader {
    margin-top: 6rem;
    color: $ashgro-gold;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .footerDetails {
    @include flex-container;
    gap: 8.4rem;
  }

  .title {
    color: $subdetails-title;
    font-size: 1.3rem;
    @include text-ellipsis;
    max-width: 20rem;
  }

  .description {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    @include text-ellipsis;
    max-width: 20rem;
  }
}
