@use "src/styles/variables" as *;
@use "src/styles/helpers" as helpers;

.loginFormContainer {
  background-image: url("src/assets/images/Login.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  gap: 0;

  @include helpers.flex-container(center, center, column);

  .loginLogo {
    margin-top: 4rem;
  }
}

.container {
  width: 48rem;
  min-height: 44.6rem;
  background-color: $ashgro-white;
  margin: 4rem auto auto auto;
  padding: 3.6rem 4rem 3.2rem 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;

  .title {
    font-weight: 300;
    font-size: 3.2rem;
    color: $ashgro-navy;
    font-family: $font-primary;
  }

  .form {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

    .formFields {
      display: flex;
      gap: 1.6rem;
      flex-flow: column nowrap;
    }

    .passwordInput {
      i {
        &::before {
          color: $disabled-text;
          cursor: pointer;
          font-size: 2rem;
        }
      }
      :global(.ant-input) {
        height: 3.5rem;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .forgotPassword {
        color: $ashgro-gold;
        font-weight: 600;
        font-size: 1.4rem;
        font-family: $font-secondary;
        cursor: pointer;
      }

      :global(.ant-checkbox-wrapper .ant-checkbox-inner) {
        border: 0.5px solid $ashgro-navy;
      }
    }
  }
}
.loginButton {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4rem;
  font-family: $font-secondary;
  font-size: 1.6rem;
  font-weight: 600;
}
