@import "src/styles/_variables";
@import "src/styles/_helpers";

.sectionTitle {
  color: $add-icon-bg;
  font-size: 1.6rem;
  font-family: $font-secondary;
  padding-bottom: 1.6rem;
}

.modalFooter {
  background-color: $modal-footer-bg;
  min-height: 7.6rem;
  border-radius: 1.6rem;
  @include flex-container(flex-end, center);
  gap: 2rem;

  padding: 1.6rem 3.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  .okButton {
    background-color: $ashgro-navy;
    color: $ashgro-white;
    border-radius: 3.6rem;
    padding: 1.2rem 1.6rem;
    width: 14.4rem;
    height: 4.4rem;
  }
}

.membersForm {
  :global(.ant-modal-body) {
    height: 50rem;
    overflow-y: auto;
  }
  :global(.ant-modal) {
    top: 2rem;
  }
}

// whenever delete is happening we are not able to getch api

.addressBox {
  textArea {
    min-height: 8rem;
  }
}
.activityDescription {
  textArea {
    min-height: 24rem;
  }
}
