@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.calendarWrapper {
  height: 90vh;
  overflow-y: auto;
  @extend %hideScrollbar;

  :global {
    .rbc-header {
      background-color: $ashgro-white;
      color: $select-tag-color;
      font-family: $font-secondary;
      font-weight: 400;
      font-size: 1.2rem;
      padding: 1rem;
      letter-spacing: 0.3px;
      text-align: left;
    }

    .rbc-month-row {
      min-height: 21rem;
      overflow: scroll;
    }
    .rbc-show-more {
      display: none;
    }

    .rbc-day-bg {
      background-color: $ashgro-white;
    }

    .rbc-date-cell {
      text-align: left;
    }

    .rbc-button-link {
      margin: 1rem 0 0 1rem;
      font-size: 1.6rem;
      font-weight: 400;
    }

    .rbc-off-range-bg {
      background-image: repeating-linear-gradient(
        135deg,
        #e7e7e7 0,
        #ddd 1px,
        transparent 1px,
        transparent 10px
      );
      background-color: $neutral-bg;
      opacity: 0.6;
    }
  }
}

// TODO: To change color for previous date
