@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.iconLabel {
  margin-top: 2rem;
  @include flex-container(start);
  gap: 1rem;

  &.isEmail {
    color: $ashgro-blue;
  }
}
