@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.meetingPreviewCard {
  background: $ashgro-white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  background: $light-white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 340px;
  overflow: hidden;

  .header {
    background: linear-gradient(90deg, #603915 0%, $gold-text 100%);
    color: $ashgro-white;
    padding: 1.1rem;
    @include flex-container;

    border-radius: 12px 12px 0 0;

    .name {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .details {
    padding: 1.2rem 1rem 0rem;

    .title {
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      @include flex-container;
    }
  }

  .actions {
    @include flex-container;
    gap: 1.6rem;
    padding: 1rem;

    .actionBtn {
      width: 14rem;
      height: 3.6rem;
      flex-shrink: 0;
      text-align: center;
    }
  }
}

.timeDetailsContainer {
  @include flex-container;
  gap: 1rem;

  .timeDetails {
    @include flex-container;
    gap: 0.4rem;

    .meetingDetailsLabel {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.eventCard {
  padding: 0.8rem 1rem;
  width: 18rem;
  background-color: $search-bg;
  border-radius: 8px;
  color: $ashgro-white;
  border: none;
  cursor: pointer;

  .eventTitle {
    font-size: 1.4rem;
    font-weight: 600;
    @include flex-container;
    justify-content: start;
    gap: 1rem;
  }

  .eventTime {
    font-size: 1.2rem;
    font-weight: 400;
    &.chatbotSlotTime {
      color: $activity-title;
    }
  }
  .meetingDetails {
    @include flex-container;
    justify-content: start;
    gap: 1rem;
  }

  &.bookings {
    box-shadow: inset 0 4px 0 $gold-text;
    background: linear-gradient(90deg, $gold-text 0%, #d4c39a 100%);
  }

  &.isPastDate {
    box-shadow: none;
    background: $light-grey-bg;
    color: $light-grey-text;
  }
}

.meetingDetails {
  cursor: pointer;
  @include flex-container;
  justify-content: start;
  gap: 1rem;
}

.timeSlot {
  @include flex-container;
  gap: 1rem;
}
