@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.cellContent {
  padding: 1rem 0.5rem;
  height: 18rem;
  width: 19.5rem;
  .cellHeader {
    @include flex-container;
    margin-bottom: 0.6rem;

    .switchLabel {
      font-size: 1.2rem;
      font-weight: 400;
      color: $filter-icon;
      font-family: $font-secondary; //TODO: Make changes in global level to use  $font-secondary
      margin-right: 1rem;
    }
    .dateLabel {
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $font-secondary;
    }
  }
}
.eventList {
  @include flex-container;
  flex-direction: column;
  gap: 0.4rem;
  overflow: auto;

  .eventCard {
    padding: 0.8rem 1rem;
    width: max-content;
    background-color: $search-bg;
    border-radius: 8px;
    color: $ashgro-white;
    border: none;
    cursor: pointer;

    .eventTitle {
      font-size: 1.4rem;
      font-weight: 600;
      font-family: $font-secondary;
    }

    .eventTime {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: $font-secondary;

      &.chatbotSlotTime {
        color: $activity-title;
      }
    }

    &.bookings {
      box-shadow: inset 0 4px 0 $gold-text;
      background: linear-gradient(90deg, $gold-text 0%, #d4c39a 100%);
    }
  }
}

.moreBtn {
  color: $gold-text;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  background-color: $ashgro-cream;
  border-radius: 0.8rem;
  cursor: pointer;

  &.isChatbotView {
    color: $activity-title;
  }
}

.eventsPopover {
  .ant-popover-inner {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 12px $activity-title;
  }

  .popoverContent {
    display: flex;
    flex-direction: column;
    height: 29rem;
    width: 22rem;
    overflow: hidden;
  }

  .popoverHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: $font-secondary;
    margin-bottom: 1rem;
    flex-shrink: 0;
    padding-bottom: 0.4rem;
  }

  .popoverEventsScroll {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.4rem;
  }

  .popoverEventsScroll::-webkit-scrollbar {
    width: 0.1rem;
  }
  .popoverEventsScroll::-webkit-scrollbar-thumb {
    background-color: $activity-title;
    border-radius: 0.4rem;
  }

  .closeBtn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .popoverEvent {
    background-color: $modal-footer-bg;
    border-radius: 8px;
    padding: 0.8rem;
    margin-bottom: 0.6rem;
    flex-shrink: 0;

    &.isPastDate {
      background-color: $light-grey-bg;
    }

    .eventTitle {
      @include flex-container(start, center);
      gap: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .eventTime {
      font-weight: 400;
    }
    .chatbotTime {
      font-size: 1.2rem;
      font-weight: 400;
      justify-content: center;
    }
  }
}

.chatBotTime {
  padding: 0.8rem 1rem;
  background-color: $search-bg;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.allowedDates {
  cursor: pointer;
}
