@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.emailTemplateModal {
  .modalBody {
    @include flex-flow(column, wrap, normal);
    gap: 1.6rem;
    padding: 0 1rem;

    .or {
      align-self: center;
      @include secondaryRegular;
      font-size: 1.4rem;
      color: $gold-text;
    }
  }
}

.modalFooter {
  background-color: $modal-footer-bg;
  min-height: 7.6rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1.6rem 3.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;

  .okButton {
    background-color: $ashgro-navy;
    color: $ashgro-white;
    border-radius: 3.6rem;
    padding: 1.2rem 1.6rem;
    width: 14.4rem;
    height: 4.4rem;

    &:hover {
      background-color: $ashgro-navy !important;
      color: $ashgro-white !important;
    }
  }
}

.newEmailButton {
  border: 1px solid $gold-bold;
  color: $gold-text;
  @include secondaryBold;
  font-size: 1.4rem;
  border-radius: 3.6rem;
  min-height: 4.4rem;

  &:hover {
    background-color: transparent !important;
    color: $gold-text !important;
  }
}
