@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.chatbot {
  @include flex-container(space-between, center, row);
}

.clubAddressInput,
.notesInput {
  &:global(.ant-input) {
    min-height: 8rem;
  }
}

.addClubModal {
  :global(.ant-modal) {
    top: 2rem;
  }
}

.sectionTitle {
  color: $add-icon-bg;
  @include secondaryRegular;
  font-size: 1.6rem;
}
