@use "src/styles/variables" as *;

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.topBarRight {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.topBarItem {
  color: $ashgro-navy;
  font-size: 1.6rem;
  font-family: $font-secondary;
  opacity: 0.8;
  padding-bottom: 0.9rem;

  &.active {
    font-weight: 700;
    padding: 0 0.9rem 0.8rem 0.9rem;
    border-bottom: 0.1rem solid $ashgro-gold;
  }
}
