@import "src/styles/variables";

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  .homeLogo {
    width: 3.6rem;
    height: 3.8rem;
  }

  .textLogo {
    height: 3.1rem;
    width: 8rem;
  }
}

.logoutButton {
  background-color: transparent;
  border: 0;

  &:global(.ant-btn-color-default) {
    box-shadow: none;
  }

  &:hover {
    background-color: transparent;
    border: 0;
  }
  &:global(
    .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover
  ) {
    color: unset;
    background-color: unset;
  }
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.9rem;
}

.topBarRight {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.topBarItem {
  color: $nav-text;
  font-size: 1.5rem;
  font-family: $font-secondary;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-bottom: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  transition:
    color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &.active {
    font-weight: 600;
    border-bottom: 0.25rem solid;
    border-image: $nav-active-bg;
    border-image-slice: 1;
    color: $nav-active-text;
    opacity: 1;
  }

  &:hover {
    color: $nav-active-text;
    opacity: 1;
  }
}

.topBarEnd {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  .clubName {
    border-radius: 10rem;
    padding: 0.8rem 1.4rem;
    background-color: $club-name;
    color: $club-name-text;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: $font-secondary;
  }
  .logoutIcon {
    transition: transform 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: translateX(0.4rem);
      color: darken($ashgro-navy, 10%);
    }
  }
}

.logoutModalText {
  font-size: 1.6rem;
  color: $ashgro-navy;
}

.logoutModal {
  :global(.ant-modal) {
    :global(.ant-modal-header) {
      padding: 3.2rem 3.2rem 1.6rem;
    }
    :global(.ant-modal-footer) {
      background-color: $ashgro-white;
    }
    :global(.ant-divider-horizontal) {
      display: none;
    }
    :global(.ant-modal-body) {
      padding: 0 0 1.6rem 2.8rem;
      border-bottom: 1px solid #0c23400f;
    }
  }
}

// TODO: Make className configurable in the modal without using !important
.cancelButton {
  background-color: #f5f7f9 !important;
  color: #0f131c !important;
  width: 16rem !important;
}
