.appContainer {
  height: 100vh;
  width: 100vw;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    padding: 0 1rem 1rem 1rem;
  }
}
