@import "src/styles/variables";
@import "src/styles/helpers";

.resetPasswordContainer {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  gap: 0;

  @include flex-container(center, center, column);

  .loginLogo {
    margin-top: 4rem;
    height: 9.8rem;
    width: 9.4rem;
  }
}
.container {
  width: 48rem;
  min-height: 44.6rem;
  background-color: $ashgro-white;
  margin: 4rem auto auto auto;
  padding: 3.6rem 4rem 3.2rem 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;

  .title {
    font-weight: 300;
    font-size: 3.2rem;
    color: $ashgro-navy;
    font-family: $font-primary;
  }
}
.passwordCriteriaContainer {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.8rem;
  flex-flow: row wrap;
  margin-bottom: 2.4rem;
}
.passwordCriteria {
  background-color: #0c234026;
  border-radius: 1.6rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-family: $font-secondary;
  color: $ashgro-navy;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.passwordCriteriaMatched {
  @extend .passwordCriteria;
  background-color: $correct-bg;

  i::before {
    color: $notification-success;
  }
}

.passwordCriteriaUnmatched {
  @extend .passwordCriteria;
  background-color: $incorrect-bg;

  i::before {
    color: $notification-error;
  }
}

.backButton,
.submitButton {
  height: 4.4rem;
  width: 19rem;
  border-radius: 3.2rem;
}

.submitButton {
  color: $ashgro-white;
  background-color: $ashgro-gold;

  &:global(
    .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover
  ) {
    color: $ashgro-white;
    background-color: $ashgro-gold;
  }
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;

  .formFields {
    display: flex;
    flex-flow: column nowrap;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.criteriaIcon {
  display: flex;
}
