@import "src/styles/variables";

.app-components {
  h1 {
    text-align: center;
  }
  padding: 2.5rem;
  &__title {
    font-weight: 700;
  }
}

.otherComponents {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.appComponents {
  padding: 5rem;
}
