@import "src/styles/variables";

.wrapper {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1.2rem;
  background-color: $input-background;
  width: 100%;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .decrementer,
  .incrementer {
    padding: 0.6rem 2.1rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: $skeleton-bg;
    border-color: $incrementer-border;
    border-radius: 1.2rem;

    &:global(.ant-btn-color-default) {
      box-shadow: none;
    }

    &:global(
        .ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled)
      ):hover {
      background-color: $skeleton-bg;
      color: unset;
      border-color: $incrementer-border;
    }

    i::before {
      color: $ashgro-black;
      font-size: 2.4rem;
    }

    &.disabled {
      cursor: not-allowed;
    }
  }

  .value {
    padding: 0.9rem 2.1rem;
    color: $ashgro-black;
    font-size: 1.4rem;
    border: 1px solid $incrementer-border;
    border-left: 0;
    border-right: 0;
  }

  .decrementer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;

    &::after {
      content: "";
      width: 0.1rem;
      height: 2.4rem;
      background-color: $button-stroke;
      position: absolute;
      top: 0.7rem;
      right: 0;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .incrementer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    &::before {
      content: "";
      width: 0.1rem;
      height: 2.4rem;
      background-color: $button-stroke;
      position: absolute;
      top: 0.7rem;
      left: 0;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
.decrementer[disabled] i::before,
.incrementer[disabled] i::before {
  cursor: not-allowed;
}
