@use "src/styles/variables" as *;

.inputWrapper {
  display: flex;
  gap: 0.6rem;
  flex-flow: column nowrap;
}

.passwordSuffix {
  i::before {
    color: $disabled-text;
    cursor: pointer;
    font-size: 2rem;
  }
}

.passwordInput {
  font-size: 1.4rem;
  font-family: $font-secondary;
}
