@import "src/styles/variables";
@import "src/styles/helpers";

.changePasswordModal {
  :global(.ant-modal .ant-modal-body) {
    padding: 4rem 4rem 3.6rem 4rem;
  }
  :global(.ant-modal-close-x) {
    margin-top: 4rem;
  }
}

.changePassword {
  margin-top: 4rem;
  min-height: 4.4rem;
  width: 40rem;
  font-size: 1.4rem;
}

.formFields {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
}

.header {
  font-size: 3.2rem;
  font-weight: 300;
  font-family: $font-primary;
  padding-bottom: 3.2rem;
}
