@import "src/styles/_variables";
@import "src/styles/_helpers";

.body {
  padding: 2.5rem 15.2rem 0 15.2rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.iconsContainer {
  @include flex-flow(row, wrap, center);
  gap: 1.6rem;
}
.iconButton {
  background-color: $search-bg;
  border-radius: 1.4rem;
  height: 4.4rem;
  width: 4.4rem;

  &:global(.ant-btn.ant-btn-icon-only) {
    width: 4.4rem;
  }
  &:hover {
    background-color: $search-bg !important;
  }
}
.excelIcon {
  height: 2.2rem;
  width: 2rem;
}

.uploadingArrow {
  width: 3.2rem;
  height: 1rem;
}

@keyframes dotBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

.inProgressText {
  color: $ashgro-navy;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2.4rem;

  .dot1,
  .dot2,
  .dot3 {
    padding-left: 0.2rem;
    display: inline-block;
    animation: dotBounce 1.4s infinite ease-in-out;
  }

  .dot1 {
    animation-delay: 0s;
  }

  .dot2 {
    animation-delay: 0.2s;
  }

  .dot3 {
    animation-delay: 0.4s;
  }
}

.description {
  color: $filter-icon;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  margin-top: 0.4rem;
}
.inProgressModal {
  :global(.ant-modal) {
    top: 30%;
  }
  :global(.ant-modal-body) {
    height: 21.9rem;
    overflow-y: hidden;
  }
}
