@import "src/styles/_variables.scss";
@import "src/styles/_helpers.scss";

.actionContainer {
  @include flex-container;
  gap: 1.6rem;

  .actions {
    @include flex-container(normal, normal, row, 1rem);
    opacity: 0;
    transition: opacity 0.3s ease;

    .icon {
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &:hover .actions {
    opacity: 1;
  }
}
.sourceColValue {
  color: $ashgro-navy;
  font-weight: 600;
  font-family: $font-secondary;
  font-size: 1.4rem;
  text-align: center;
  padding-left: 7rem;
}

.statusSelect {
  :global(.ant-select-selector) {
    border-radius: 2.8rem !important;
  }
}
