@import "src/styles/variables";
@import "src/styles/helpers";

.chartCard {
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: $card-box-shadow;
  background: $ashgro-white;
  border: 0.5px solid $chart-border-color;
  padding: 0 1rem;
  position: relative;

  &.chartCardOver {
    border: 1px dotted $active-highlight-blue;
    box-shadow: $card-box-shadow;
    transform: scale(0.98);
  }

  .chartHeader {
    @include flex-container(space-between, center);
    padding: 1.7rem 1.6rem 1.6rem 0.5rem;

    .headerLeft {
      @include flex-container(flex-start, center, row, 1.2rem);

      .dragIcon {
        cursor: grab;

        &:active,
        &.dragging {
          cursor: grabbing;
        }
      }

      .chartTitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: $ashgro-navy;
        margin: 0;
      }
    }

    .chartActions {
      @include flex-container(flex-start, center, row, 1.2rem);

      svg {
        cursor: pointer;
        &:hover {
          color: $icon-hover-color;
        }
      }
    }
  }
  .customChartText {
    font-size: 1.2rem;
    font-weight: 400;
    color: $ashgro-navy;
  }
  .chartContainerWrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 1.6rem 1.6rem;
    &::-webkit-scrollbar {
      height: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-bg;
      border-radius: 0.3rem;
    }
  }
}

.loader {
  @include flex-container(center, center);
  min-height: 35rem;
}

.chartCardDragging {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.customBadge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: inline-block;
  padding: 0.5rem 2rem;
  background: linear-gradient(
    180deg,
    #8e6842 0%,
    #c3a175 59.25%,
    #ebd2aa 118.5%
  );
  border-top: 1px solid $badge-border;
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: $ashgro-white;
  text-transform: capitalize;
  box-shadow: 0px 0px 16px 2px #ffffff80 inset;
}

.filterIconWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.filterBadge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background-color: $filter-badge-bg;
  border-radius: 50%;
  border: 1.5px solid $ashgro-white;
}

.dateRangePicker {
  max-width: 240px;

  :global {
    .ant-picker-input > input {
      font-size: 1.3rem;
    }
  }
}

.labelPrefix {
  height: 1.4rem;
  width: 1.4rem;
  background-color: $ashgro-gold;
  border-radius: 4px;
}

.superAdminChatLabel {
  font-size: 1.4rem;
  font-weight: 600;
}
