@import "src/styles/variables";

.customNotification {
  position: relative;
  padding-left: 1.2rem;

  &::before {
    content: "";
    width: 0.4rem;
    min-height: 2rem;
    border-radius: 0.4rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10;
  }

  &.withDescription::before {
    bottom: 2rem;
    min-height: auto;
  }

  &.success::before {
    background: $notification-success-gradient;
  }
  &.error::before {
    background: $notification-error-gradient;
  }
  &.warning::before {
    background: $notification-warning-gradient;
  }
  &.info::before {
    background: $notification-info-gradient;
  }
}
